doctype html
html
  head
    title 聊天室
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/messenger-spinner.css')
      link(rel='stylesheet', href='/css/messenger-theme-air.css')
      link(rel='stylesheet', href='/css/messenger-theme-flat.css')
      link(rel='stylesheet', href='/css/messenger-theme-block.css')
      link(rel='stylesheet', href='/css/messenger-theme-future.css')
      link(rel='stylesheet', href='/css/messenger-theme-ice.css')
      link(rel='stylesheet', href='/css/message.css')
      link(rel='stylesheet', href='/css/sco.message.css')
      link(rel='stylesheet', href='/css/scojs.css')
    block js
      script(src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
      script(src='http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js')
      script(src="/socket.io/socket.io.js")
      script(src='/js/messenger.js')
      script(src='/js/sco.message.js')
      script(src='/js/messenger-theme-flat.js')
      script(src='/js/messenger-theme-future.js')
      script(src='/js/main.js')
      script(src='/js/chatclient.js')
      
  body
    block content





    

    
    
